// and now the overwrites ...

$pink: #903;
$primary: $pink;

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
// stylelint-enable value-keyword-case
